//Optional Values:
//- Official: Use official download source
//- MCBBS   : Use MCBBS download source
//- BMCLAPI : Use BMCLAPI download source
//- Default : Official
UseMirror=MCBBS
//Change this option to set the ranged download thread size
//- Default:64
ThreadSize=64
//- true   :Enable blockstudio to show the options of snapshot,alpha,beta and old alpha.
//- false  :Disable blockstudio to show the options of snapshot,alpha,beta and old alpha.
//- Default:true
UseUnstableVersions=false